<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_KEY" value="base64:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa="/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="LOG_CHANNEL" value="stack"/>
        <env name="WEBSOCKET_API_GATEWAY_ENDPOINT" value="https://example.com/production"/>
        <env name="WEBSOCKET_AWS_REGION" value="us-east-1"/>
    </php>
</phpunit>